{
  "presets": [
    "stage-2"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "createElement" }]
  ],
  "env": {
    "development": {
      "plugins": [
        "external-helpers"
      ],
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
