{
  "presets": [
    "stage-3"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "createElement" }]
  ],
  "env": {
    "development": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
